<extend name="Public:base"/>

<block name="title">菜单管理</block>

<block name="content">
    <style>
        /* 手机端响应式设计 */
        @media (max-width: 768px) {
            .page-header h1 {
                font-size: 1.2rem !important;
                padding: 10px 0 !important;
            }

            .page-header h1 small {
                font-size: 0.9rem !important;
                display: block !important;
                margin-top: 5px !important;
            }

            /* 标签页优化 */
            .tabbable {
                padding: 0 5px !important;
            }

            .nav-tabs li {
                flex: 1 !important;
            }

            .nav-tabs li a {
                font-size: 14px !important;
                padding: 12px 8px !important;
                text-align: center !important;
                border-radius: 0 !important;
            }

            /* 输入框优化 */
            .input-medium {
                font-size: 14px !important;
                padding: 8px !important;
                border-radius: 6px !important;
                width: 60px !important;
                text-align: center !important;
            }

            /* 链接优化 */
            .table td a {
                font-size: 13px !important;
                margin: 2px !important;
                display: inline-block !important;
            }

            /* 模态框优化 */
            .modal-dialog {
                margin: 10px !important;
            }

            .modal-content {
                border-radius: 8px !important;
            }

            .modal-header {
                padding: 15px !important;
            }

            .modal-title {
                font-size: 1.1rem !important;
            }

            .modal-body {
                padding: 15px !important;
            }

            .modal-footer {
                padding: 15px !important;
            }
        }

        /* 桌面端隐藏手机元素 */
        @media (min-width: 769px) {
            .mobile-only {
                display: none !important;
            }
        }
    </style>
    <!-- 面包屑导航 -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{:U('Admin/Index/index')}">
                    <i class="fa fa-home"></i>
                    首页
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{:U('Admin/Index/index')}">
                    后台管理
                </a>
            </li>
            <li class="breadcrumb-item active">
                菜单管理
            </li>
        </ol>
    </nav>
    
    <!-- 页面导航路径 -->
    <div class="page-navigation">
        <a href="{:U('Admin/Index/index')}" class="nav-item">
            <i class="fa fa-home"></i>
            首页
        </a>
        <div class="nav-separator">/</div>
        <a href="{:U('Admin/Index/index')}" class="nav-item">
            后台管理
        </a>
        <div class="nav-separator">/</div>
        <div class="nav-item active">
            菜单管理
        </div>
    </div>
    
    <div class="page-content">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-start">
                    <ul class="nav nav-tabs border-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{:U('Admin/Nav/index')}">菜单列表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;" onclick="add()">添加菜单</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <!-- 菜单排序表单 -->
                <form action="{:U('Admin/Nav/order')}" method="post" data-ajax="true" data-redirect="reload">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th width="5%">排序</th>
                                <th>菜单名</th>
                                <th>连接</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 菜单数据循环 -->
                            <foreach name="data" item="v">
                                <tr>
                                    <td>
                                        <input class="input-medium" 
                                               style="width:40px;height:25px;" 
                                               type="text" 
                                               name="{$v['id']}" 
                                               value="{$v['order_number']}">
                                    </td>
                                    <td>{$v['_name']}</td>
                                    <td>{$v['mca']}</td>
                                    <td>
                                        <a href="javascript:;" 
                                           navId="{$v['id']}" 
                                           navName="{$v['name']}" 
                                           onclick="add_child(this)">添加子菜单</a>
                                        |
                                        <a href="javascript:;" 
                                           navId="{$v['id']}" 
                                           navName="{$v['name']}" 
                                           navMca="{$v['mca']}" 
                                           navIco="{$v['ico']}" 
                                           onclick="edit(this)">修改</a>
                                        |
                                        <a href="{:U('Admin/Nav/delete',array('id'=>$v['id']))}" data-ajax="true" data-confirm="确定删除？">
                                            删除
                                        </a>
                                    </td>
                                </tr>
                            </foreach>
                            
                            <!-- 排序提交按钮行 -->
                            <tr>
                                <th>
                                    <input class="btn btn-success" type="submit" value="排序">
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    
    <!-- 添加菜单模态框 -->
    <div class="modal fade" id="bjy-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加菜单
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="bjy-form" class="form-inline" action="{:U('Admin/Nav/add')}" method="post" data-ajax="true" data-redirect="reload">
                        <input type="hidden" name="pid" value="0">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tr>
                                <th width="12%">菜单名：</th>
                                <td>
                                    <input class="input-medium" type="text" name="name">
                                </td>
                            </tr>
                            <tr>
                                <th>连接：</th>
                                <td>
                                    <input class="input-medium" type="text" name="mca">
                                    <span class="help-text">输入模块/控制器/方法即可 例如 Admin/Nav/index</span>
                                </td>
                            </tr>
                            <tr>
                                <th>图标：</th>
                                <td>
                                    <input class="input-medium" type="text" name="ico">
                                    <span class="help-text">font-awesome图标 输入fa fa- 后边的即可</span>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-success" type="submit" value="添加">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 修改菜单模态框 -->
    <div class="modal fade" id="bjy-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改菜单
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="bjy-form" class="form-inline" action="{:U('Admin/Nav/edit')}" method="post" data-ajax="true" data-redirect="reload">
                        <input type="hidden" name="id">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tr>
                                <th width="12%">菜单名：</th>
                                <td>
                                    <input class="input-medium" type="text" name="name">
                                </td>
                            </tr>
                            <tr>
                                <th>连接：</th>
                                <td>
                                    <input class="input-medium" type="text" name="mca">
                                    <span class="help-text">输入模块/控制器/方法即可 例如 Admin/Nav/index</span>
                                </td>
                            </tr>
                            <tr>
                                <th>图标：</th>
                                <td>
                                    <input class="input-medium" type="text" name="ico">
                                    <span class="help-text">font-awesome图标 输入fa fa- 后边的即可</span>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-success" type="submit" value="修改">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script>
    // 添加菜单
    function add(){
        $("input[name='name'],input[name='mca']").val('');
        $("input[name='pid']").val(0);
        $('#bjy-add').modal('show');
    }

    // 添加子菜单
    function add_child(obj){
        var navId=$(obj).attr('navId');
        $("input[name='pid']").val(navId);
        $("input[name='name']").val('');
        $("input[name='mca']").val('');
        $("input[name='ico']").val('');
        $('#bjy-add').modal('show');
    }

    // 修改菜单
    function edit(obj){
        var navId=$(obj).attr('navId');
        var navName=$(obj).attr('navName');
        var navMca=$(obj).attr('navMca');
        var navIco=$(obj).attr('navIco');
        $("input[name='id']").val(navId);
        $("input[name='name']").val(navName);
        $("input[name='mca']").val(navMca);
        $("input[name='ico']").val(navIco);
        $('#bjy-edit').modal('show');
    }
    </script></block>