<extend name="Public:base" />
<block name="title">支付宝配置</block>
<block name="content">
    
    <!-- 面包屑导航 -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{:U('Admin/Index/index')}">
                    <i class="fa fa-home"></i>
                    首页
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{:U('Admin/Index/index')}">
                    后台管理
                </a>
            </li>
            <li class="breadcrumb-item active">
                支付宝配置
            </li>
        </ol>
    </nav>
    
    <!-- 页面导航路径 -->
    <div class="page-navigation">
        <a href="{:U('Admin/Index/index')}" class="nav-item">
            <i class="fa fa-home"></i>
            首页
        </a>
        <div class="nav-separator">/</div>
        <a href="{:U('Admin/Index/index')}" class="nav-item">
            后台管理
        </a>
        <div class="nav-separator">/</div>
        <div class="nav-item active">
            支付宝配置
        </div>
    </div>

    <div class="page-content">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-start">
                    <ul class="nav nav-tabs border-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{:U('Order/paysite')}">查看配置</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{:U('Order/payedit', ['id' => $list[0]['id']])}">修改配置</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <!-- 查看配置选项卡内容 -->
                <volist name="list" id="v">
                <div class="config-card">

                        
                        <div class="config-item">
                            <div class="config-label">
                                <i class="fa fa-hashtag"></i>
                                App ID
                            </div>
                            <div class="config-value code">{$v['app_id']}</div>
                        </div>
                        
                        <div class="config-item">
                            <div class="config-label">
                                <i class="fa fa-key"></i>
                                商户私钥
                            </div>
                            <div class="config-value code">{$v['merchant_private_key']}</div>
                        </div>
                        
                        <div class="config-item">
                            <div class="config-label">
                                <i class="fa fa-unlock"></i>
                                支付宝公钥
                            </div>
                            <div class="config-value code">{$v['alipay_public_key']}</div>
                        </div>
                        
                        <div class="config-item">
                            <div class="config-label">
                                <i class="fa fa-exchange"></i>
                                同步回调地址
                            </div>
                            <div class="config-value url">{$v['return_url']}</div>
                        </div>
                        
                        <div class="config-item">
                            <div class="config-label">
                                <i class="fa fa-bell"></i>
                                异步回调地址
                            </div>
                            <div class="config-value url">{$v['notify_url']}</div>
                        </div>
                        
                        <div class="config-actions">
                            <a href="{:U('Order/payedit', ['id' => $v['id']])}" class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                                修改配置
                            </a>
                        </div>
                    </div>
                    </volist>
                </div>
            </div>
        </div>
    </div>
</block>